$black-shadow: #333;

%base-wrapper {
  border-radius: 10px;
  box-shadow: 0 0 10px $black-shadow;
  padding: 20px;
  position: relative;
}

.notification {
  &-wrapper {
    &--cookie {
      @extend %base-wrapper;
      width: 80vw;
    }

    &--small {
      @extend %base-wrapper;
      width: 20vw;
    }

    &--medium {
      @extend %base-wrapper;
      width: 40vw;
    }

    &--large {
      @extend %base-wrapper;
      width: 60vw;
    }
  }

  &__button-wrapper {
    text-align: right;
  }

  &__close-button {
    background: none;
    border: 0;
    cursor: pointer;

    svg {
      height: 12px;
      width: 12px;
    }
  }
}
